/*                                            Aula 07 - Atividade 01

    - Crie uma página HTML com um botão e uma caixa de texto (div).
    - Aplique uma transição suave de 0.5 segundos para a cor de fundo do botão ao passar o mouse sobre ele.
    - Aplique uma transição para aumentar o tamanho da caixa de texto ao passar o mouse sobre ela.

    Objetivo: Praticar o uso de transições em CSS para criar efeitos suaves ao interagir com elementos.
 */


.botao button {
    transition: background-color  0.5 ease; 
}

.botao button:hover {
    background-color: yellow;
    width:120px;
}